<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">首页</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <div class="panel panel-default">
                        <div style="padding: 10px 0 20px 10px;">
                            <a href="https://github.com/godv233/SWPU-shop" target="_blank">
                                <img th:src="@{/admin/dist/img/index-logo.png}" style="width: 480px;height: 240px;">
                                <p>SWPU-shop项目是一套电商系统，包括 shop商城系统及admin 商城后台管理系统，基于 Spring Boot 2.X 及相关技术栈开发。
                                    前台商城系统包含首页门户、商品分类、新品上线、首页轮播、商品推荐、商品搜索、商品展示、购物车、订单结算、订单流程、个人订单管理、会员中心、帮助中心等模块。
                                    后台管理系统包含数据面板、轮播图管理、商品管理、订单管理、会员管理、分类管理、设置等模块。</p>
                            </a>
                            <h3>联系开发者</h3>
                            <ul>
                                <li>我的邮箱：zengwei233@126.com</li>
                                <li>QQ技术交流群：432942336 <a target="_blank"
                                                         href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL"><img
                                        border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="技术交流"
                                        title="技术交流"></a>
                                </li>
                            </ul>
                            <p>SWPU-SHOP 在 GitHub 上创建了代码仓库，开发者保持同步更新。</p>
                            <ul>
                                <li><a href="https://github.com/godv233/SWPU-shop" target="_blank">SWPU-shop in GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
</body>
</html>
