<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.shop.dao.NewBeeMallOrderItemMapper">
    <resultMap id="BaseResultMap" type="com.swpu.shop.entity.NewBeeMallOrderItem">
        <id column="order_item_id" jdbcType="BIGINT" property="orderItemId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_cover_img" jdbcType="VARCHAR" property="goodsCoverImg"/>
        <result column="selling_price" jdbcType="INTEGER" property="sellingPrice"/>
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    order_item_id, order_id, goods_id, goods_name, goods_cover_img, selling_price, goods_count, 
    create_time
  </sql>
        <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_order_item
        where order_id = #{orderItemId,jdbcType=BIGINT}
    </select>
        <update id="updateByPrimaryKeySelective" parameterType="com.swpu.shop.entity.NewBeeMallOrderItem">
        update tb_newbee_mall_order_item
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsCoverImg != null">
                goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
            </if>
            <if test="sellingPrice != null">
                selling_price = #{sellingPrice,jdbcType=INTEGER},
            </if>
            <if test="goodsCount != null">
                goods_count = #{goodsCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_item_id = #{orderItemId,jdbcType=BIGINT}
    </update>
        <update id="updateByPrimaryKey" parameterType="com.swpu.shop.entity.NewBeeMallOrderItem">
    update tb_newbee_mall_order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
      selling_price = #{sellingPrice,jdbcType=INTEGER},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </update>
</mapper>