<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <p class="tel">10086</p>
                    <a href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL">在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="https://github.com/godv233/SWPU-shop" target="_blank">账户管理</a></dd>
                <dd><a rel="nofollow" href="https://github.com/godv233/SWPU-shop" target="_blank">购物指南</a></dd>
                <dd><a rel="nofollow" href="https://github.com/godv233/SWPU-shop" target="_blank">商城操作</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="https://github.com/godv233/SWPU-shop" target="_blank">新浪微博</a></dd>
                <dd><a rel="nofollow" href="https://github.com/godv233/SWPU-shop" target="_blank">官方微信</a></dd>
                <dd><a rel="nofollow" href="https://github.com/godv233/SWPU-shop" target="_blank">联系我们</a></dd>
            </dl>
            <dl class="col-article">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="https://www.swpu.edu.cn/dean/" target="_blank">教务处</a>
                </dd>
                <dd><a rel="nofollow" href="http://lib.swpu.edu.cn/" target="_blank">图书馆</a></dd>
                <dd><a rel="nofollow" href="http://jyzx.swpu.edu.cn/" target="_blank">就业信息</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关于西柚</dt>
                <dd><a rel="nofollow" href="https://www.swpu.edu.cn/" target="_blank">了解西柚</a>
                </dd>
                <dd><a rel="nofollow" href="https://www.swpu.edu.cn/zsjy/" target="_blank">加入西柚</a>
                </dd>
                <dd><a rel="nofollow" href="https://www.swpu.edu.cn/edf/info/1017/1091.htm" target="_blank">捐赠事宜</a>
                </dd>
            </dl>
            <dl class="wx">
                <dt>swpu-shop</dt>
                <dd>
                    <img th:src="@{/mall/image/footer-wx.png}">
                </dd>
                <dd class="other">
                    <span>分公司：</span>
                    <a href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL">计算机科学与技术</a>
                    <a href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL">网络工程</a>
                    <a href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL">物联网</a>
                    <a href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL">软件工程</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a th:href="@{/index}">swpu商城</a>
                <a th:href="@{/admin}">后台管理系统</a>
<!--                <a href="https://gitee.com/newbee-ltd/newbee-donate">捐赠</a>-->
                <a href="https://github.com/godv233/SWPU-shop/issues">问题反馈</a>
                <a href="https://github.com/godv233/SWPU-shop">GitHub 地址</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://github.com/godv233/SWPU-shop" target="_blank">swpu商城 &nbsp; | &nbsp;
                    Powered by 曾伟&nbsp;
                    | &nbsp;</a>
                    &nbsp;QQ交流：1515914947&nbsp;&nbsp; <a
                            href="https://jq.qq.com/?_wv=1027&k=5mKJ4IL"><img
                            border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="技术交流"
                            title="技术交流"></a>
                </p>
                <p><a href="https://github.com/godv233/SWPU-shop" target="_blank">Copyright ©com.swpu.shop All
                    Rights
                    Reserved.&nbsp; | &nbsp; 西南石油大学xxxx </a></p>
                <p style="color: #1baeae">谢谢大家的支持</p>
            </div>
        </div>

    </div>
</div>
</html>